body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor: default;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #7f53ac 0, #657ced 100%);
    min-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* button show_modal */
.modal_button {
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

#show_modal {
    max-width: 576px;
    font-weight: 400;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    transition: box-shadow .3s;
}

#show_modal:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(33,33,33,.9);
}

/* modal */
.modal {
    width: 600px;
    position: fixed;
    z-index: 1050;
    display: block;
    opacity: 0;
    top: 10%;
    left: 33%;
    pointer-events: none;
    transition: opacity 200ms ease-in;
    margin: 0;
    padding: 0;
}

/* showing modal window*/
.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal_dialog {
    position: relative;
    width: auto;
    margin: 40px auto;
    max-width: 500px;
}

.modal_content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

/* modal header */
.modal_header {
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal_title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* close button */
.close {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

/* modal body */
.modal_body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    max-height: calc(100vh - 610px);
    overflow-y: auto;
}

.modal_text {
    padding: 5px 10px;
}

.user_name {
    font-weight: 400;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

/* modal overlay */
.overlay {
    z-index: 150;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}


/* form */
.post_form {
    width: 350px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.post_form input, .post_form textarea {
    width: 100%;
    background: #f7f7f7;
    border-radius: 1rem;

    outline: none;
    margin: 10px 0;
    line-height: 44px;
    font-size: 16px;
    padding: 0 15px;
}

.post_form textarea {
    resize: none;
}

.send_button {
    width: 45%;
    font-weight: 400;
    background: white;
    padding: 20px;
    margin: 30px auto;
    border-radius: 1rem;
    transition: box-shadow .3s;
}

.send_button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(33,33,33,.9);
}

